body {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}

section {
  text-align: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 500px;
  margin: 50px auto;
}

.p1score,
.p2score {
  margin: auto 50px;
}

.card {
  font-family: serif;
  position: relative;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
  margin: 10px;
  font-size: 100px;
  perspective: 1000px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.front {
  background-color: #000;
}

.back {
  transform: rotateY(180deg);
}

.card.flipped .front {
  transform: rotateY(180deg);
}

.card.flipped .back {
  transform: rotateY(0);
}

.card[data-card-type="0"] .back {
  background-color: red;
}

.card[data-card-type="1"] .back {
  background-color: blue;
}

.card[data-card-type="2"] .back {
  background-color: green;
}

.card[data-card-type="3"] .back {
  background-color: purple;
}

.card[data-card-type="4"] .back {
  background-color: yellow;
}

.card[data-card-type="5"] .back {
  background-color: darkred;
}

.card[data-card-type="6"] .back {
  background-color: darkblue;
}

.card[data-card-type="7"] .back {
  background-color: darkorange;
}

.card[data-card-type="8"] .back {
  background-color: darkcyan;
}

.card[data-card-type="9"] .back {
  background-color: darkgoldenrod;
}