body {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}

section {
  text-align: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 500px;
  margin: 50px auto;
}

.p1score,
.p2score {
  margin: auto 50px;
}

.cell {
  font-family: serif;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
  margin: 10px;
  font-size: 100px;
}

.cell[data-card-type="0"],
.cell[data-card-type="1"] {
  background-color: red;
}

.cell[data-card-type="2"],
.cell[data-card-type="3"] {
  background-color: blue;
}

.cell[data-card-type="4"],
.cell[data-card-type="5"] {
  background-color: green;
}

.cell[data-card-type="6"],
.cell[data-card-type="7"] {
  background-color: purple;
}

.cell[data-card-type="8"],
.cell[data-card-type="9"] {
  background-color: yellow;
}